<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getMediaStream>
        <processor type="FitchHK.CropImageLibrary.CropImage.CropImageProcessor"
          patch:after="processor[@type='Sitecore.Resources.Media.GrayscaleProcessor, Sitecore.Kernel']"
        />
        <processor type="FitchHK.CropImageLibrary.CropImage.SetJpegCompressionProcessor"
          patch:after="processor[@type='Sitecore.Resources.Media.GrayscaleProcessor, Sitecore.Kernel']"/>
      </getMediaStream>
    </pipelines>
    <settings>
      <!-- Jpeg Compression level -->
      <setting name="LaubPlusCo.JpegCompressionLevelQueryKey" value="jq" />
      <!-- Image cropping -->
      <setting name="LaubPlusCo.CropQueryKey" value="c" />
      <setting name="LaubPlusCo.CropWidthQueryKey" value="cw" />
      <setting name="LaubPlusCo.CropHeightQueryKey" value="ch" />
      <setting name="LaubPlusCo.CropValidMimeTypes" value="image/jpeg|image/pjpeg|image/png|image/gif|image/tiff|image/bmp" />
      <setting name="LaubPlusCo.VerticalAlignment" value="cva" />
      <setting name="LaubPlusCo.HorizontalAlignment" value="cha" />

    </settings>
  </sitecore>
</configuration>
